<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="egt.infopets">

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Vistas.FirstScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER"
                    android:windowSoftInputMode="stateHidden" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Vistas.AddPet"
            android:parentActivityName=".Vistas.FirstScreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Vistas.AddEspecie"
            android:parentActivityName=".Vistas.FirstScreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Vistas.SearchPet"
            android:parentActivityName=".Vistas.FirstScreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Vistas.AddRaza"
            android:parentActivityName=".Vistas.FirstScreen"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".Vistas.Estadisticas"
            android:parentActivityName=".Vistas.FirstScreen"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"></meta-data>
        </provider>
    </application>

</manifest>